<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="sefirah.communication.bluetooth.BluetoothDiscoverableActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="sefirah.playsound.PlaySoundActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.NoActionBar" />

        <receiver
            android:name="sefirah.playsound.PlaySoundReceiver"
            android:exported="false" />
    </application>
</manifest>
