<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="sefirah.worker,rikka.shizuku.api,rikka.shizuku.provider" />

    <application>
        <activity
            android:name="sefirah.communication.bluetooth.BluetoothDiscoverableActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="sefirah.playsound.PlaySoundActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.NoActionBar" />

        <receiver
            android:name="sefirah.playsound.PlaySoundReceiver"
            android:exported="false" />

        <provider
            android:name="sefirah.worker.WorkerBridgeProvider"
            android:authorities="${applicationId}.worker.bridge"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
